@import "./utils/resetStyles.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap");

:root {
  /* Background Color */
  --bg-primary-clr: #173482;
  --bg-secondary-clr: #d144f3;
  --bg-hover-clr: #ffffffb3;
  --background-clr: #061b54;
  --white-bg-clr: #fff;
  --card-bg-clr: #25469f;
  --card-outline-clr: #707070;

  /* Text Color */
  --txt-clr-primary: #f6f6f6;
  --txt-clr-footer: #67686a;

  /* Font familly */
  --ff-sans-pro: "Source Serif Pro", serif;
  --ff-pt-sans: "PT Sans", sans-serif;

  /* Font size */
  --fs-title-xl: 3.25rem;
  --fs-title-md: 2.25rem;
  --fs-title-sm: 2rem;
  --fs-card-xl: 2.75rem;
  --fs-card-md: 1.875rem;
  --fs-para-xl: 1.438rem;
  --fs-regular: 1rem;
  --fs-sm: 0.813rem;

  /* Timer colors */
  --circle-default: #173482;
  --circle-one: #ffc20e;
  --circle-two: #4f9cd0;
  --circle-three: #f26066;
  --circle-four: #3eb96f;
}

/* Utillity classes  */
a {
  text-decoration: none;
}

.content {
  max-width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.bg_primary {
  background-color: var(--bg-primary-clr);
}

.active {
  background-color: var(--bg-secondary-clr);
}

.width_full {
  width: 100%;
}

.outline_btn {
  outline: 3px solid var(--bg-secondary-clr);
}

.spacing {
  padding: 2.8rem 0;
}

.ff-pt_sans {
  font-family: var(--ff-pt-sans);
}
.ff-sans_pro {
  font-family: var(--ff-sans-pro);
}

.bg_white {
  background-color: var(--white-bg-clr);
}

.btn-default {
  border-radius: 1.875rem;
  background-color: var(--white-bg-clr);
  font-size: var(--fs-regular);
  font-weight: 600;
  border: none;
  outline: none;
}

.btn-primary {
  border-radius: 1.875rem;
  background-color: var(--bg-primary-clr);
  color: var(--txt-clr-primary);
  font-size: var(--fs-regular);
  font-weight: 600;
  border: none;
  outline: none;
}

.btn-secondary {
  border-radius: 1.875rem;
  background-color: var(--bg-secondary-clr);
  font-size: var(--fs-regular);
  color: var(--txt-clr-primary);
  font-weight: 600;
  border: none;
  outline: none;
}

/* Header */
body {
  background-color: var(--background-clr);
  color: var(--txt-clr-primary);
}

.top-icon_container {
  padding: 0.5rem 0;
  justify-content: flex-end;
  align-items: center;
}
.top-icon_container > img {
  padding: 0 0.35rem;
  cursor: pointer;
}

.timer-and-logo_container {
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header_btn {
  font-size: var(--fs-sm);
  font-weight: 700;
  border-radius: 1.25rem;
  border: none;
  padding: 0.3rem 2rem;
  cursor: pointer;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}
.header_btn:hover {
  background-color: var(--bg-hover-clr);
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}

.header_btn span {
  font-size: 1.75rem;
  font-weight: 700;
  margin-right: 1rem;
}
.logo-and-burgermenu_images_container {
  align-items: center;
  width: 20%;
}
.logo_header {
  height: 4.75rem;
  margin-left: auto;
}

.burger-menu_btn {
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 1;
}
.burger_menu {
  display: none;
  height: 2.75rem;
  cursor: pointer;
}

.circle-wrap {
  flex-direction: column;
  margin-left: 0.5rem;
}

.circle {
  margin-bottom: 0.5rem;
  width: 3.938rem;
  height: 3.938rem;
  padding: 1rem;
  border-radius: 50%;
  flex-direction: column;
  position: relative;
}

.circle::before {
  content: "";
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 50%;
  background-color: var(--background-clr);
}

.timer_value {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: -5%;
  position: relative;
}
.value_desc {
  font-size: var(--fs-regular);
  text-transform: uppercase;
  background-color: var(--bg-primary-clr);
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  font-weight: 600;
}

.header-img_container {
  padding-top: 1rem;
}

.header_img {
  border-radius: 1.25rem;
  object-fit: fill;
}

.header-btns {
  flex-wrap: wrap;
  padding: 2.625rem 0;
}

.header-btns_container {
  padding: 2rem 0.5rem;
}
.header-buttons_button {
  padding: 1.2rem 2.5rem;
  cursor: pointer;
  transition: background 300ms ease-in-out;
}

.header-buttons_button:hover {
  background-color: var(--bg-secondary-clr);
  transition: background 300ms ease-in-out;
}

/* Main */
.subtitle_container {
  flex-direction: column;
}

.sub_title {
  font-size: var(--fs-title-xl);
  font-weight: 600;
  padding-bottom: 1.6rem;
}
.subtitle-para_one {
  font-size: var(--fs-para-xl);
  font-weight: 400;
  line-height: 1.6;
}
.subtitle-para_two {
  font-size: var(--fs-para-xl);
  font-weight: 400;
}

/* Cards */
.view-icons_container {
  padding-bottom: 2rem;
}

.view_btns {
  cursor: pointer;
  border: none;
  padding: 0.9rem;
  border-radius: 50%;
  outline: none;
  transition: background 300ms ease-in-out;
  margin-right: 0.5rem;
}

.view-icon image {
  pointer-events: none;
}

.card-burger_view {
  display: flex;
  padding: 5rem 5rem;
  background-color: var(--card-bg-clr);
  margin-bottom: 1.25rem;
  border-radius: 1.25rem;
}
.card-burger-img_container {
  width: 35%;
}

.card-burger-img_container > img {
  border-radius: 50%;
  object-fit: fill;
}

.card-burger_description {
  padding-left: 6rem;
  width: 65%;
}

.card-burger_title {
  font-size: var(--fs-card-xl);
  font-weight: 600;
  padding-bottom: 2rem;
}
.card-burger_check {
  display: flex;
  padding: 1.75rem 0 1.75rem 1rem;
}
.card-burger-border_top {
  border-top: 1px solid var(--bg-primary-clr);
}
.card-burger-border_bottom {
  border-bottom: 1px solid var(--bg-primary-clr);
}
.card-burger_check img {
  padding-right: 1rem;
}
.card-burger_para {
  font-size: var(--fs-regular);
  font-weight: 500;
}

.card-burger_btn {
  margin-top: 4rem;
  padding: 1.2rem 2rem;
  font-size: var(--fs-sm);
  cursor: pointer;
  transition: background 300ms ease-in-out;
}

.card-burger_btn:hover {
  background-color: #d16deb;
  transition: background 300ms ease-in-out;
}

.card-cube-view_container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.card-cube_view {
  background: var(--card-bg-clr);
  border-radius: 1.83rem;
  overflow: hidden;
  flex-basis: 49%;
}

.card-img_container {
  max-height: 18.75rem;
  overflow: hidden;
}

.card-img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_description {
  padding: 2rem 2.5rem;
  padding-bottom: 3rem;
}

.card_title {
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: var(--fs-card-xl);
  font-weight: 600;
}
.card_para {
  font-size: var(--fs-regular);
  font-weight: 500;
}

.card_check {
  display: flex;
  align-items: center;
  padding: 1.75rem 0 1.75rem 1rem;
}
.card_check img {
  padding-right: 1rem;
}

.card-btn_container {
  display: flex;
  justify-content: center;
}

.card-border_top {
  border-top: 2px solid var(--bg-primary-clr);
}
.card-border_bottom {
  border-bottom: 2px solid var(--bg-primary-clr);
}

.card_btn {
  margin-top: 4rem;
  padding: 1.2rem 2rem;
  font-size: var(--fs-sm);
  cursor: pointer;
  transition: background 300ms ease-in-out;
}

.card_btn:hover {
  background-color: #d16deb;
  transition: background 300ms ease-in-out;
}

/* Footer */
.logo-store-and-media_container {
  padding-top: 4rem;
  justify-content: space-between;
  align-items: center;
}
.logo-and-store_container {
  align-items: center;
}
.logo-and-store_container img {
  padding-right: 4rem;
}

.footer-media_container img {
  padding-left: 1rem;
  cursor: pointer;
}
.footer-links_container {
  background-color: var(--white-bg-clr);
  padding: 2rem 0;
}

.footer-links_container > .footer-links_one {
  padding-bottom: 4.5rem;
}

.footer-links_one,
.footer-links_two {
  color: var(--txt-clr-footer);
  font-size: var(--fs-regular);
  padding-right: 4rem;
}

.copy-right-and-help_container {
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}

.footer_support {
  color: var(--txt-clr-footer);
  padding: 0 1rem 1rem 0;
}
.footer_copyright {
  color: #173482;
}

@media (max-width: 1200px) {
  .card-cube-view_container {
    gap: 0.75rem;
  }
  .card_description {
    margin-bottom: 0rem;
  }
}
/* Tablete */
@media (max-width: 950px) {
  .content {
    min-width: 90%;
  }
  .header_btn {
    align-self: flex-start;
    margin-bottom: 2rem;
  }
  .timer-and-logo_container {
    flex-direction: column;
  }
  .timer {
    margin-top: 2rem;
  }
  .logo-store-and-media_container {
    flex-direction: column;
  }
  .logo-and-store_container {
    padding-bottom: 2rem;
  }
  .footer-links_one,
  .footer-links_two {
    padding-right: 2rem;
  }
}
/* Mobile */
@media (max-width: 450px) {
  .content {
    min-width: 100%;
  }
  .top-icon_container {
    visibility: visible;
  }
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(9, 9, 9, 0.651);
    z-index: 999;
  }

  .nav_bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 95vh;
    background-color: #142b6a;
    z-index: 999;
  }

  .nav_button {
    padding: 1.2rem 2.5rem;
    cursor: pointer;
    font-size: var(--fs-regular);
    transition: background 300ms ease-in-out;
    word-wrap: break-word;
    margin-bottom: 1rem;
  }

  .nav_button:hover {
    background-color: var(--bg-secondary-clr);
    transition: background 300ms ease-in-out;
  }

  .navbar-closebtn_container {
    width: 100%;
    justify-content: center;
  }

  .nav-close_btn {
    padding: 1.2rem 2.5rem;
    cursor: pointer;
    border-radius: 1.875rem;
    border: none;
    outline: none;
    margin-top: 4rem;
    font-weight: bold;
    font-size: 0.688rem;
  }
  .timer-and-logo_container {
    min-width: 85%;
    flex-direction: column;
  }
  .header_btn {
    padding: 0.25rem 1rem;
  }

  .logo-and-burgermenu_images_container {
    width: 100%;
    justify-content: space-between;
  }
  .logo_header {
    height: 2.5rem;
    margin-left: 0;
  }
  .burger_menu {
    display: block;
  }

  .timer_value {
    font-size: 2rem;
  }
  .value_desc {
    font-size: 0.75rem;
  }
  .circle {
    width: 2.375rem;
    height: 2.375rem;
  }

  .header-img_container {
    min-width: 100%;
  }
  .header_img {
    border-radius: 0;
  }
  .header-btns {
    display: none;
  }

  .sub_title {
    font-size: var(--fs-title-md);
    text-align: center;
  }
  .subtitle-para_one {
    font-size: var(--fs-regular);
    text-align: center;
    line-height: 1.4;
  }
  .subtitle-para_two {
    font-size: var(--fs-regular);
    text-align: center;
    line-height: 1.4;
  }

  .view-icons_container {
    display: none;
  }
  .card-cube_view {
    min-width: 100%;
  }
  .card {
    flex-direction: column;
    padding: 0;
    border-radius: 0;
  }
  .card-img_container {
    min-width: 100%;
    height: 100%;
  }
  .card-img_container img {
    border-radius: 0;
    padding: 0;
  }
  .card_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    padding: 0;
  }
  .card_title {
    text-align: center;
    font-size: var(--fs-card-md);
    padding: 2.5rem 1rem;
  }
  .card_check {
    padding: 2rem 2rem;
    width: 75%;
  }

  .card-btn_container {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }

  .logo-store-and-media_container {
    flex-direction: column;
  }
  .logo-and-store_container {
    flex-direction: column;
    justify-content: center;
  }
  .logo-and-store_container img {
    padding: 0 0 2rem 0;
  }
  .footer-media_container {
    padding-bottom: 2rem;
  }

  .footer-links_container > .footer-links_one {
    padding-bottom: 3rem;
  }
  .footer-links_one,
  .footer-links_two {
    flex-direction: column;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
  }

  .copy-right-and-help_container {
    text-align: center;
    min-width: 80%;
  }

  .footer-support_container {
    justify-content: space-between;
  }

  .footer_support {
    text-align: center;
  }
  .contact {
    display: none;
  }
}
