@import "./utils/resetStyles.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap");

:root {
  /* Background Color */
  --bg-primary-clr: #173482;
  --bg-secondary-clr: #d144f3;
  --bg-hover-clr: #ffffffb3;
  --background-clr: #061b54;
  --white-bg-clr: #fff;
  --card-bg-clr: #25469f;
  --card-outline-clr: #707070;

  /* Text Color */
  --txt-clr-primary: #f6f6f6;

  /* Font familly */
  --ff-sans-pro: "Source Serif Pro", serif;
  --ff-pt-sans: "PT Sans", sans-serif;

  /* Font size */
  --fs-title-xl: 3.25rem;
  --fs-title-md: 2.25rem;
  --fs-title-sm: 2rem;
  --fs-card-xl: 2.75rem;
  --fs-card-md: 1.875rem;
  --fs-para-xl: 1.438rem;
  --fs-regular: 1rem;
  --fs-sm: 0.813rem;

  /* Timer colors */
  --circle-default: #173482;
  --circle-one: #ffc20e;
  --circle-two: #4f9cd0;
  --circle-three: #f26066;
  --circle-four: #3eb96f;
}

/* Utillity classes  */
.content {
  max-width: 80%;
  margin: 0 auto;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width_full {
  width: 100%;
}

.outline_btn {
  outline: 3px solid var(--bg-secondary-clr);
}

.spacing {
  padding: 2.8rem 0;
}

.btn-default {
  border-radius: 1.875rem;
  background-color: var(--white-bg-clr);
  font-size: var(--fs-regular);
  font-weight: 600;
  border: none;
  outline: none;
}

.btn-primary {
  border-radius: 1.875rem;
  background-color: var(--bg-primary-clr);
  color: var(--txt-clr-primary);
  font-size: var(--fs-regular);
  font-weight: 600;
  border: none;
  outline: none;
}

.btn-secondary {
  border-radius: 1.875rem;
  background-color: var(--bg-secondary-clr);
  font-size: var(--fs-regular);
  color: var(--txt-clr-primary);
  font-weight: 600;
  border: none;
  outline: none;
}

/* Header */
body {
  background-color: var(--background-clr);
  color: var(--txt-clr-primary);
}

.media-top_bar {
  background-color: var(--bg-primary-clr);
}
.top-icon_container {
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top-icon_container > img {
  padding: 0 0.35rem;
  cursor: pointer;
}

.timer-and-logo_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-sm);
  font-family: var(--ff-pt-sans);
  font-weight: 700;
  border-radius: 1.25rem;
  background-color: var(--white-bg-clr);
  border: none;
  padding: 0.3rem 2rem;
  cursor: pointer;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}
.header_btn:hover {
  background-color: var(--bg-hover-clr);
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}

.header_btn span {
  font-size: 1.75rem;
  font-weight: 700;
  margin-right: 1rem;
}
.logo-and-burgermenu_images_container {
  display: flex;
  align-items: center;
  width: 20%;
}
.logo_header {
  height: 4.75rem;
  margin-left: auto;
}

.burger-menu_btn {
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 1;
}
.burger_menu {
  display: none;
  height: 2.75rem;
  cursor: pointer;
}

.timer {
  display: flex;
}

.circle-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.circle {
  margin-bottom: 0.5rem;
  width: 3.938rem;
  height: 3.938rem;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle::before {
  content: "";
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 50%;
  background-color: var(--background-clr);
}

.timer_value {
  font-family: var(--ff-pt-sans);
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: -5%;
  position: relative;
}
.value_desc {
  font-family: var(--ff-pt-sans);
  font-size: var(--fs-regular);
  text-transform: uppercase;
  background-color: var(--bg-primary-clr);
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  font-weight: 600;
}

.header-img_container {
  padding-top: 1rem;
  height: 32.813rem;
}

.header_img {
  height: 100%;
  border-radius: 1.25rem;
}

.header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.625rem 0;
}
a {
  text-decoration: none;
}

.header-btns_container {
  padding: 2rem 0.5rem;
}
.header-buttons_button {
  padding: 1.2rem 2.5rem;
  cursor: pointer;
  font-family: var(--ff-pt-sans);
  transition: background 300ms ease-in-out;
}

.header-buttons_button:hover {
  background-color: var(--bg-secondary-clr);
  transition: background 300ms ease-in-out;
}

/* Main */
.subtitle_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sub_title {
  font-size: var(--fs-title-xl);
  font-family: var(--ff-sans-pro);
  font-weight: 600;
  padding-bottom: 1.6rem;
}
.subtitle-para_one {
  font-size: var(--fs-para-xl);
  font-family: var(--ff-pt-sans);
  font-weight: 400;
  line-height: 1.6;
}
.subtitle-para_two {
  font-size: var(--fs-para-xl);
  font-family: var(--ff-pt-sans);
  font-weight: 400;
}

/* Cards */
.view-icons_container {
  display: flex;
  padding-bottom: 1.25rem;
}
.view-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.75rem;
  background-color: var(--bg-primary-clr);
  cursor: pointer;
  margin-right: 0.5rem;
  transition: background 300ms ease-in-out;
}
.view-icon image {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.view-icon:hover {
  background-color: var(--bg-secondary-clr);
  transition: background 300ms ease-in-out;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 5rem;
  background-color: var(--card-bg-clr);
  margin-bottom: 20px;
  border-radius: 1.25rem;
}
.card-img_container {
  width: 23rem;
  height: 21.438rem;
}

.card-img_container > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card_description {
  width: 70%;
  padding-left: 6rem;
}

.card_title {
  font-size: var(--fs-card-xl);
  font-family: var(--ff-sans-pro);
  font-weight: 600;
  padding-bottom: 2rem;
}
.card_check {
  display: flex;
  padding: 1.75rem 0 1.75rem 1rem;
}
.card-border_top {
  border-top: 1px solid var(--bg-primary-clr);
}
.card-border_bottom {
  border-bottom: 1px solid var(--bg-primary-clr);
}
.card_check img {
  padding-right: 1rem;
}
.card-para {
  font-size: var(--fs-regular);
  font-family: var(--ff-pt-sans);
  font-weight: 500;
}
.card_btn {
  margin-top: 4rem;
  padding: 1.2rem 2rem;
  font-size: var(--fs-sm);
}
/* Tablete */
@media (max-width: 950px) {
  .content {
    min-width: 90%;
  }
  .header_btn {
    align-self: flex-start;
    margin-bottom: 2rem;
  }
  .timer-and-logo_container {
    flex-direction: column;
  }
  .timer {
    margin-top: 2rem;
  }
}
/* Mobile */
@media (max-width: 450px) {
  .content {
    min-width: 100%;
  }
  .top-icon_container {
    visibility: visible;
  }
  .timer-and-logo_container {
    flex-direction: column;
  }
  .header_btn {
    padding: 0.25rem 1rem;
  }

  .logo-and-burgermenu_images_container {
    width: 100%;
    justify-content: space-between;
  }
  .logo_header {
    height: 2.5rem;
    margin-left: 0;
  }
  .burger_menu {
    display: block;
  }

  .timer_value {
    font-size: 2rem;
  }
  .value_desc {
    font-size: 0.75rem;
  }
  .circle {
    width: 2.375rem;
    height: 2.375rem;
  }

  .header-img_container {
    max-width: 100%;
  }
  .header_img {
    border-radius: 0;
  }
  .header-btns {
    display: none;
  }

  .sub_title {
    font-size: var(--fs-title-md);
    text-align: center;
  }
  .subtitle-para_one {
    font-size: var(--fs-regular);
    text-align: center;
    line-height: 1.4;
  }
  .subtitle-para_two {
    font-size: var(--fs-regular);
    text-align: center;
    line-height: 1.4;
  }

  .view-icons_container {
    display: none;
  }

  .card_container {
    width: 100%;
    margin-bottom: 5rem;
  }
  .card {
    padding: 0;
    flex-direction: column;
    border-radius: 0;
  }
  .card-img_container {
    width: 100%;
    padding-bottom: 3rem;
  }

  .card-img_container img {
    border-radius: 0;
  }
  .card_title {
    text-align: center;
  }
  .card_description {
    padding: 0 1rem;
  }
  .card-btn_container {
    display: flex;
    justify-content: center;
  }
  .card_btn {
    margin-bottom: 4rem;
  }
}
